<footer class="footer">
    <div class="footer__container container">
        <div class="footer__wrap">
            <div class="footer__logo">
                <img src="/img/footer_logo.svg" />
            </div>
            <a href="/policy" class="footer__policy-link policy-link">
                <p class="policy-link__text">
                    Политика обработки персональных данных
                </p>
                <div class="policy-link__icon">
                    <img src="/img/arrow_diagonal.svg" />
                </div>                
            </a>
            <div class="footer__contacts">
                <a class="footer__mail" href="mailto: info@medanketa.com "> info@medanketa.com </a>
            </div>

            <a href="/sitemap" class="footer__sitemap-link">карта сайта</a>
            
            <p class="footer__copyright">
                проект АО «Ланцет» <%= new Date().getFullYear() %>
            </p>
            <picture class="footer__picture">
                <img src="/img/footer.png" alt="">
            </picture>
        </div>

    </div>
</footer>