<div class="modals">
    <form action="" class="modals__feedback-form feedback-form form form--modal">
        <div class="form__wrap">
            <button class="form__btn-close btn-close btn btn--close">+</button>
            <div class="form__head">
                <h5 class="form__title">Напишите нам</h5>
            </div>

            <div class="form__body">
                <fieldset class="form__fieldset fieldset">
                    <input class="form__input input input--text" type="text" name="" id="" placeholder="Ваше имя" maxlength="32">
                </fieldset>
                <fieldset class="form__fieldset fieldset fieldset--cols-2">
                    <input class="form__input input input--mail" type="text" name="" id="" placeholder="Ваша почта" maxlength="32">
                    <input class="form__input input input--phone" type="text" name="" id="" placeholder="Ваш телефон" maxlength="32">
                </fieldset>
                <fieldset class="form__fieldset fieldset">
                    <textarea class="form__textarea textarea textarea--big" name="" id="" rows="10" placeholder="Ваше сообщение"></textarea>
                </fieldset>
            </div>
            <div class="form__side">
                <button class="form__btn-send btn-send btn btn--primary">Отправить</button>
            </div>
        </div>
    </form>
</div>