<!DOCTYPE html>
<html lang="ru">
<%- include('components/head', {title: 'Блог - Medanketa'}); %>
<body>
    <%- include('components/header'); %>
    <main class="main blog-page page">
        <section class="page-head">
            <div class="page-head__container container">

                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-list__item">
                        <a href="#" class="breadcrumbs-list__link">
                            Главная
                        </a>
                    </li>
                    <li class="breadcrumbs-list__item">
                        <span class="breadcrumbs-list__sep">
                            /
                        </span>
                    </li>
                    <li class="breadcrumbs-list__item">
                        <span class="breadcrumbs-list__text">
                            Блог
                        </span>
                    </li>
                </ul>
                <h1 class="blog__title page-title">
                    Блог
                </h1>
            </div>
        </section>
        <section class="blog-section section">
            <div class="blog-section__container container">
                <div class="blog__grid grid">
                    <div class="blog__item blog-card card card--blog">
                        <div class="blog-card__head card__head">
                            <picture class="blog-card__picture card__picture">
                                <source media="(min-width: )" srcset="">
                                <img src="/img/blog-1.jpg" alt="">
                            </picture>
                        </div>
                        <div class="blog-card__body card__body">
                            <p class="blog-card__title card__title">
                                Больше 44% россиян не получили помощи в поликлиниках из-за нехватки нужных специалистов
                            </p>
                            <p class="blog-card__descr card__descr">
                                Более 44% пациентов не получили амбулаторно-поликлинической помощи в 2022 году из-за отсутствия нужных специалистов, подсчитал Росстат. 
                            </p>
                            <a href="/blog-post" class="blog-card__link card__link btn btn--primary">Подробнее</a>
                        </div>
                    </div>
                    <div class="blog__item blog-card card card--blog">
                        <div class="blog-card__head card__head">
                            <picture class="blog-card__picture card__picture">
                                <source media="(min-width: )" srcset="">
                                <img src="/img/blog-2.jpg" alt="">
                            </picture>
                        </div>
                        <div class="blog-card__body card__body">
                            <p class="blog-card__title card__title">
                                Закупки лекарств по региональной льготе выросли
                            </p>
                            <p class="blog-card__descr card__descr">
                                В период с января по ноябрь 2023 года, государственные заказчики приобрели 574,6 миллионов упаковок лекарств на общую сумму 730,4 миллиарда рублей
                            </p>
                            <a href="/blog-post" class="blog-card__link card__link btn btn--primary">Подробнее</a>
                        </div>
                    </div>
                    <div class="blog__item blog-card card card--blog">
                        <div class="blog-card__head card__head">
                            <picture class="blog-card__picture card__picture">
                                <source media="(min-width: )" srcset="">
                                <img src="/img/blog-3.jpg" alt="">
                            </picture>
                        </div>
                        <div class="blog-card__body card__body">
                            <p class="blog-card__title card__title">
                                Изменения тарифов оплаты медицинской помощи в рамках КГС по субъектам в декабре
                            </p>
                            <p class="blog-card__descr card__descr">
                                В декабре 2023 года произошли изменения тарифов оплаты медицинской помощи в рамках клинико-статистических групп (КГС) в следующих субъектах
                            </p>
                            <a href="/blog-post" class="blog-card__link card__link btn btn--primary">Подробнее</a>
                        </div>
                    </div>
                    <div class="blog__item blog-card card card--blog">
                        <div class="blog-card__head card__head">
                            <picture class="blog-card__picture card__picture">
                                <source media="(min-width: )" srcset="">
                                <img src="/img/blog-1.jpg" alt="">
                            </picture>
                        </div>
                        <div class="blog-card__body card__body">
                            <p class="blog-card__title card__title">
                                Больше 44% россиян не получили помощи в поликлиниках из-за нехватки нужных специалистов
                            </p>
                            <p class="blog-card__descr card__descr">
                                Более 44% пациентов не получили амбулаторно-поликлинической помощи в 2022 году из-за отсутствия нужных специалистов, подсчитал Росстат. 
                            </p>
                            <a href="/blog-post" class="blog-card__link card__link btn btn--primary">Подробнее</a>
                        </div>
                    </div>
                    <div class="blog__item blog-card card card--blog">
                        <div class="blog-card__head card__head">
                            <picture class="blog-card__picture card__picture">
                                <source media="(min-width: )" srcset="">
                                <img src="/img/blog-2.jpg" alt="">
                            </picture>
                        </div>
                        <div class="blog-card__body card__body">
                            <p class="blog-card__title card__title">
                                Закупки лекарств по региональной льготе выросли
                            </p>
                            <p class="blog-card__descr card__descr">
                                В период с января по ноябрь 2023 года, государственные заказчики приобрели 574,6 миллионов упаковок лекарств на общую сумму 730,4 миллиарда рублей
                            </p>
                            <a href="/blog-post" class="blog-card__link card__link btn btn--primary">Подробнее</a>
                        </div>
                    </div>
                    <div class="blog__item blog-card card card--blog">
                        <div class="blog-card__head card__head">
                            <picture class="blog-card__picture card__picture">
                                <source media="(min-width: )" srcset="">
                                <img src="/img/blog-3.jpg" alt="">
                            </picture>
                        </div>
                        <div class="blog-card__body card__body">
                            <p class="blog-card__title card__title">
                                Изменения тарифов оплаты медицинской помощи в рамках КГС по субъектам в декабре
                            </p>
                            <p class="blog-card__descr card__descr">
                                В декабре 2023 года произошли изменения тарифов оплаты медицинской помощи в рамках клинико-статистических групп (КГС) в следующих субъектах
                            </p>
                            <a href="/blog-post" class="blog-card__link card__link btn btn--primary">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="blog__side">
                    <a href="#" class="blog__reg-btn btn btn--border-primary">
                        Зарегистрироваться
                    </a>
                </div>
            </div>
        </section>
    </main>
    <%- include('components/footer'); %>

    <div class="global-layout"></div>
    <script src="/js/app.js"></script>
</body>
</html>