<!DOCTYPE html>
<html lang="ru">
<%- include('components/head', {title: 'Пост - Medanketa'}); %>
<body>
    <%- include('components/header'); %>
    <main class="main post-page page post">
        <section class="page-head">
            <div class="page-head__container container">

                <ul class="page-head__breadcrumbs-list breadcrumbs-list">
                    <li class="breadcrumbs-list__item">
                        <a href="#" class="breadcrumbs-list__link">
                            Главная
                        </a>
                    </li>
                    <li class="breadcrumbs-list__item">
                        <span class="breadcrumbs-list__sep">
                            /
                        </span>
                    </li>
                    <li class="breadcrumbs-list__item">
                        <a href="#" class="breadcrumbs-list__link">
                            Блог
                        </a>
                    </li>
                    <li class="breadcrumbs-list__item">
                        <span class="breadcrumbs-list__sep">
                            /
                        </span>
                    </li>
                    <li class="breadcrumbs-list__item">
                        <span class="breadcrumbs-list__text">
                            Страница
                        </span>
                    </li>
                </ul>
                <h1 class="post__title page-title">
                    Больше 44% россиян не получили помощи в поликлиниках из-за нехватки нужных специалистов
                </h1>
            </div>
        </section>
        <section class="post-section section post">
            <div class="post-section__row post-content">
                <div class="post-content__container container">
                    <div class="post-content__grid">
                        <div class="post-content__col">
                            <div class="post-content__text">
                                <p>Среди причин неполучения амбулаторно-поликлинической помощи россияне чаще всего называют отсутствие нужных специалистов. «МВ» проанализировал данные Росстата с 2016 года и пришел к выводу, что в 2022 году недовольство по этому поводу высказывало максимальное количество граждан за последние годы.</p>

                                <p>Более 44% пациентов не получили амбулаторно-поликлинической помощи в 2022 году из-за отсутствия нужных специалистов, подсчитал Росстат. На данные Комплексного наблюдения условий жизни населения из опубликованного в конце декабря статистического сборника «Здравоохранение в России 2023» обратил внимание «МВ».</p>

                                <blockquote>
                                    Росстат изучал мнения людей в возрасте от 15 лет, обращавшихся в 2022 году за амбулаторно-поликлинической помощью в медорганизации и не получивших медицинской помощи. Таких, согласно данным статистики, всего 2%. Комплексное наблюдение условий жизни населения охватывает 60 тыс. домохозяйств во всех субъектах РФ.
                                </blockquote>
                            </div>
                        </div>
                        <div class="post-content__col">
                            <picture class="post-content__preview-picture">
                                <source media="(min-width: )" srcset="">
                                <img src="/img/post-1.jpg" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-section__row post-content">
                <div class="post-content__container container">
                    <div class="post-content__grid">
                        <div class="post-content__col">
                            <picture class="post-content__preview-picture">
                                <source media="(min-width: )" srcset="">
                                <img src="/img/post-2.jpg" alt="">
                            </picture>
                        </div>
                        <div class="post-content__col">
                            <div class="post-content__text">
                                <p>Среди тех, кто обращался в медорганизации и не получил необходимой помощи, большинство пациентов выражают недовольство тем, что в поликлиниках нет нужных специалистов. Так считают 44,1% респондентов (рис. 1). В городах доля таких ответов меньше — 42,2%, а в сельских населенных пунктах выше — 52,5%.</p>

                                <p>Согласно данным наблюдения, в 2022 году не смогли предварительно записаться к врачу около 15% пациентов, не получивших помощь. Чуть меньше граждан (13,6%) жалуются на то, что необходимое лечение предлагалось на платной основе. Почти 12% заявляют о больших очередях на прием.</p>

                                <p>Не смогли попасть в медорганизацию из-за введения карантина 9,9% пациентов. Из-за нехватки необходимых медикаментов или оборудования не получили помощь 2,8%, а 2,6% граждан отказали в медицинской помощи по другим причинам.</p>

                                <p>С каждым годом люди все чаще называют причиной, по которой они не получают медпомощи в поликлиниках, именно нехватку специалистов. В 2022 году наблюдаются максимальные показатели по этому ответу.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="similar-posts section similar">
            <div class="similar-posts__container container">
                <p class="similar-posts__title section__title">
                    Другие статьи по теме
                </p>
                <div class="blog__grid grid">
                    <div class="blog__item blog-card card card--blog">
                        <div class="blog-card__head card__head">
                            <picture class="blog-card__picture card__picture">
                                <source media="(min-width: )" srcset="">
                                <img src="/img/blog-1.jpg" alt="">
                            </picture>
                        </div>
                        <div class="blog-card__body card__body">
                            <p class="blog-card__title card__title">
                                Больше 44% россиян не получили помощи в поликлиниках из-за нехватки нужных специалистов
                            </p>
                            <p class="blog-card__descr card__descr">
                                Более 44% пациентов не получили амбулаторно-поликлинической помощи в 2022 году из-за отсутствия нужных специалистов, подсчитал Росстат. 
                            </p>
                            <a href="/blog-post" class="blog-card__link card__link btn btn--primary">Подробнее</a>
                        </div>
                    </div>
                    <div class="blog__item blog-card card card--blog">
                        <div class="blog-card__head card__head">
                            <picture class="blog-card__picture card__picture">
                                <source media="(min-width: )" srcset="">
                                <img src="/img/blog-2.jpg" alt="">
                            </picture>
                        </div>
                        <div class="blog-card__body card__body">
                            <p class="blog-card__title card__title">
                                Закупки лекарств по региональной льготе выросли
                            </p>
                            <p class="blog-card__descr card__descr">
                                В период с января по ноябрь 2023 года, государственные заказчики приобрели 574,6 миллионов упаковок лекарств на общую сумму 730,4 миллиарда рублей
                            </p>
                            <a href="/blog-post" class="blog-card__link card__link btn btn--primary">Подробнее</a>
                        </div>
                    </div>
                    <div class="blog__item blog-card card card--blog">
                        <div class="blog-card__head card__head">
                            <picture class="blog-card__picture card__picture">
                                <source media="(min-width: )" srcset="">
                                <img src="/img/blog-3.jpg" alt="">
                            </picture>
                        </div>
                        <div class="blog-card__body card__body">
                            <p class="blog-card__title card__title">
                                Изменения тарифов оплаты медицинской помощи в рамках КГС по субъектам в декабре
                            </p>
                            <p class="blog-card__descr card__descr">
                                В декабре 2023 года произошли изменения тарифов оплаты медицинской помощи в рамках клинико-статистических групп (КГС) в следующих субъектах
                            </p>
                            <a href="/blog-post" class="blog-card__link card__link btn btn--primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('components/footer'); %>

    <div class="global-layout"></div>
    <script src="/js/app.js"></script>
</body>
</html>