<main class="main post-page page post">
    <section class="page-head">
        <div class="page-head__container container">

            <%- include('../components/breadcrumb', { title: 'Контакты' }); %>

            <h1 class="post__title page-title">
                Контакты
            </h1>
        </div>
    </section>
    <section class="contacts-section section contacts">
        <div class="contacts-section__container container">
            <div class="contacts-section__grid contacts-grid">
                <div class="contacts__item contacts-card card--contacts">
                    <div class="contacts-card__icon">
                        <img src="/img/email_icon.svg" />
                    </div>
                    <p class="contacts-card__title">
                        E-mail
                    </p>
                    <a href="mailto:antarsib@mail.ru" class="contacts-card__link">
                        info@medanketa.com
                    </a>
                </div>
                <div class="contacts__item contacts-card card--contacts">
                    <div class="contacts-card__icon">
                        <img src="/img/phone_icon.svg" />
                    </div>
                    <p class="contacts-card__title">
                        Номер телефона
                    </p>
                    <a href="tel:+73833832673" class="contacts-card__link">
                        +7 (495) 646-56-65
                    </a>
                </div>
                <div class="contacts__item contacts-card card--contacts">
                    <div class="contacts-card__icon">
                        <img src="/img/phone_icon.svg" />
                    </div>
                    <p class="contacts-card__title">
                        Соцсети
                    </p>
                    <ul class="contacts-card__socials socials-list">
                        <li class="socials-list__item">
                            <a href="" class="socials-list__item-link">
                                <img src="/img/vk_icon.svg" />
                            </a>
                        </li>
                        <li class="socials-list__item">
                            <a href="" class="socials-list__item-link">
                                <img src="/img/wz_icon.svg" />
                            </a>
                        </li>
                        <li class="socials-list__item">
                            <a href="" class="socials-list__item-link">
                                <img src="/img/tg_icon.svg" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contacts-section__table contacts-table">
                <p class="contacts-table__title">
                    Реквизиты
                </p>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Полное наименование организации
                    </div>
                    <div class="contacts-table__col">
                        Акционерное общество "Ланцет" (АО "Ланцет")
                        
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Наименование организации на английском языке
                    </div>
                    <div class="contacts-table__col">
                        Joint Stock Company «Lancet» (JSC «Lancet»)
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Юридический адрес
                    </div>
                    <div class="contacts-table__col">
                        Россия, 107553, г. Москва, ул. Большая Черкизовская, д. 24 А, строение 1, офис № 527
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Почтовый адрес
                    </div>
                    <div class="contacts-table__col">
                        142100, Московская область, г. Подольск, пр-кт Ленина, дом 109/61 а/я №3  АО «Ланцет»
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Лицензия
                    </div>
                    <div class="contacts-table__col">
                        Лицензия на осуществление фармацевтической деятельности №Л042-00110-77/00270834 от 22 марта 2018 года, срок действия -"Бессрочная" 
                        <br><br>
                        Лицензирующий орган: Федеральная служба по надзору в сфере здравоохранения
                        <br><br>
                        Адреса места осуществления лицензируемого вида деятельности: 142143, Московская область, г.о. Подольск, с. Покров, ул. Полевая, д. 1, стр. 2, Литера Б2, Склад №3, пом. 19-24, часть пом. №33, пом. №34, 36.

                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Регистрация 
                    </div>
                    <div class="contacts-table__col">
                        Регистрация 	Свидетельство о регистрации серия 77 № 006848759 выдано Межрайонной инспекцией Федеральной налоговой службы №46 по г. Москве от 08.02.2005г.
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        ОГРН
                    </div>
                    <div class="contacts-table__col">
                        1057746183417
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        ОКПО
                    </div>
                    <div class="contacts-table__col">
                        76056523
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        ОКАТО
                    </div>
                    <div class="contacts-table__col">
                        45263594000
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        ИНН
                    </div>
                    <div class="contacts-table__col">
                        7718538045
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        КПП
                    </div>
                    <div class="contacts-table__col">
                        КПП	771801001
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        ОКВЭД
                    </div>
                    <div class="contacts-table__col">
                        46.46.1;  46.46;  46.46.2; 33.13;  46.18.1;  47.73;  47.74;  52.10;  52.2;  52.24;  52.29;  62.09;  73.11;  73.20.1;  73.20.2
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Телефон/Факс
                    </div>
                    <div class="contacts-table__col">
                       (495) 646-56-65/646-56-66
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        E-mail
                    </div>
                    <div class="contacts-table__col">
                        info@lancetpharm.ru 
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Официальный сайт 
                    </div>
                    <div class="contacts-table__col">
                        www.lancetpharm.ru 
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Генеральный директор
                    </div>
                    <div class="contacts-table__col">
                        Ковальчук Ирина Григорьевна
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Наименование налоговой 	
                    </div>
                    <div class="contacts-table__col">
                        Инспекция Федеральной налоговой инспекции службы №18 по г. Москве код 7718

                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Адрес налоговой инспекции	
                    </div>
                    <div class="contacts-table__col">
                        Россия, Москва, 107113, Шумкина ул., д.25 
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Телефон налоговой инспекции	
                    </div>
                    <div class="contacts-table__col">
                        +7 (495) 400-00-18
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Дата постановки на учет	

                    </div>
                    <div class="contacts-table__col">
                        08 февраля 2005 г.
                        <br>
                        Свидетельство 77 №006848759
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Банковские реквизиты №1
                    </div>
                    <div class="contacts-table__col">
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Наименование банка
                    </div>
                    <div class="contacts-table__col">
                        Публичное акционерное общество "Сбербанк России" (ПАО Сбербанк»)
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Адрес банка
                    </div>
                    <div class="contacts-table__col">
                        Юридический адрес: Россия, 117997, г. Москва, ул. Вавилова, д. 19  Почтовый адрес: 109387, г. Москва, ул. Люблинская, д.38
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        БИК банка
                    </div>
                    <div class="contacts-table__col">
                        044525225
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Расчетный рублевый счет
                    </div>
                    <div class="contacts-table__col">
                        40702810338250012232
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Корсчет
                    </div>
                    <div class="contacts-table__col">
                        30101810400000000225
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Банковские реквизиты №2
                    </div>
                    <div class="contacts-table__col">
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Наименование банка
                    </div>
                    <div class="contacts-table__col">
                        АО "РАЙФФАЙЗЕНБАНК"
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Адрес банка
                    </div>
                    <div class="contacts-table__col">
                        Г МОСКВА
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        БИК банка
                    </div>
                    <div class="contacts-table__col">
                        044525700
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Расчетный рублевый счет
                    </div>
                    <div class="contacts-table__col">
                        40702810000000011849
                    </div>
                </div>
                <div class="contacts-table__row">
                    <div class="contacts-table__col">
                        Корсчет
                    </div>
                    <div class="contacts-table__col">
                        Расчетный рублевый счет	
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
