<main class="main about-page page">
   
    <section class="about-section section">
        <div class="about-section__row about-content">
            <div class="about-content__container container">

                <div class="about-content__grid">
                    <div class="about-content__col">

                        <%- include('../components/breadcrumb', { title: 'Карта сайта' }); %>
                        
                        <h1 class="about__title page-title">
                            Карта сайта
                        </h1>

                        <ul class="sitemap">
                            <li><a href="/">Главная</a></li>
                            <li><a href="/about">О нас</a></li>
                            <li><a href="/contacts">Контакты</a></li>
                            <li><a href="/handbooks">Справочники</a></li>
                            <li><a href="/policy">Политика обработки персональных данных</a></li>
                        </ul>

                    </div>
                    
                </div>
            </div>
        </div>

    </section>

</main>
